<p>todo-http-client works!</p>
<div class="row">
  <div class="col-md-8">
    <app-todo-form
      [todo]="currentTodo"
      (submitForm)="handleFormSubmit($event)"
    ></app-todo-form>
    <app-todo-list
      [todos]="todos"
      (toggleComplete)="handleToggleComplete($event)"
      (edit)="handleEdit($event)"
      (delete)="handleDelete($event)"
    ></app-todo-list>

    <!-- <app-icon [category]="'user'" [prefix]="'fa'" [name]="'home'"> </app-icon> -->
    <!-- <app-icon [category]="'system'" [prefix]="'fa'" [name]="'settings'"> -->
    <!-- </app-icon> -->
    <!-- <app-icon [category]="'social'" [prefix]="'fa'" [name]="'star'"> </app-icon> -->
  </div>
</div>
