<div
  class="todo-item d-flex justify-content-between align-items-center p-2 mb-3 border rounded"
>
  <!-- Checkbox to mark as completed -->
  <div class="d-flex gap-2">
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [checked]="todo.completed"
        (change)="onToggleComplete()"
      />
      <label class="form-check-label"></label>
    </div>
    <!-- Display Todo Text -->
    <div (click)="onViewDetail()" class="todo-text bg-light">
      <span [class.completed]="todo.completed">{{ todo.text }}</span>
    </div>
  </div>

  <!-- Display Buttons -->
  <div class="d-flex gap-2 bg-light">
    <button
      class="btn btn-sm btn-primary"
      (click)="onEdit()"
      (mouseenter)="showTooltip('Edit this task', $event)"
      (mouseleave)="hideTooltip()"
    >
      Edit
    </button>
    <button
      class="btn btn-sm btn-danger"
      (click)="onDelete()"
      (mouseenter)="showTooltip('Delete this task', $event)"
      (mouseleave)="hideTooltip()"
    >
      Delete
    </button>
    <button
      class="btn btn-sm btn-info"
      (click)="onViewDetail()"
      (mouseenter)="showTooltip('View task details', $event)"
      (mouseleave)="hideTooltip()"
    >
      View Details
    </button>
  </div>
</div>
