.container {
  max-width: 600px;
  margin: auto;
  border: solid 1px;
  padding: 40px;
  border-radius: 12px;
  margin: 100px;
  h2 {
    margin-bottom: 20px;
    color: #2e069c;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      font-weight: bold;
    }

    .form-control {
      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    .invalid-feedback {
      color: #dc3545;
    }
  }

  button {
    width: 100%;
  }
}
