<!-- <app-icon [category]="'social'" [prefix]="'sm'" [name]="'star'"> </app-icon> -->
<!-- <app-icon [category]="'system'" [prefix]="'sm'" [name]="'search'"> </app-icon> -->
<!-- <app-icon [category]="'user'" [prefix]="'fw'" [name]="'home'"> </app-icon> -->
<!-- <app-icon [category]="'user'" [prefix]="'sm'" [name]="'settings'"> </app-icon> -->
<!-- 
<app-icon
  category="system"
  prefix="sm"
  name="search"
  [containerStyle]="{ width: '120px', height: '120px', color: 'blue' }"
>
</app-icon>

<app-icon category="icon" prefix="fw" name="home" containerClass="custom-icon">
</app-icon> -->
