<!-- <app-icon [category]="'social'" [prefix]="'sm'" [name]="'star'"> </app-icon> -->
<!-- <app-icon [category]="'system'" [prefix]="'sm'" [name]="'search'"> </app-icon> -->
<!-- <app-icon [category]="'user'" [prefix]="'fw'" [name]="'home'"> </app-icon> -->
<!-- <app-icon [category]="'user'" [prefix]="'sm'" [name]="'settings'"> </app-icon> -->
<!-- 
<app-icon
  category="system"
  prefix="sm"
  name="search"
  [containerStyle]="{ width: '120px', height: '120px', color: 'blue' }"
>
</app-icon>

<app-icon category="icon" prefix="fw" name="home" containerClass="custom-icon">
</app-icon> -->
<app-icon
  [category]="category.MULLION"
  [prefix]="prefix.MULLION_DROPDOWN"
  [name]="iconkey.MULLION_ICON_1"
></app-icon>
<app-icon
  [category]="category.MULLION"
  [prefix]="prefix.DIVIDER"
  [name]="iconkey.MULLION_ICON_2"
  containerClass="'custom-icon'"
></app-icon>
<app-icon
  [category]="category.MULLION"
  [prefix]="prefix.DIVIDER"
  [name]="iconkey.MULLION_ICON_3"
></app-icon>
<app-icon
  [category]="category.MULLION"
  [prefix]="prefix.DIVIDER"
  [name]="iconkey.MULLION_ICON_9"
></app-icon>
<app-icon
  [category]="category.MULLION"
  [prefix]="prefix.DIVIDER"
  [name]="iconkey.MULLION_ICON_10"
  [containerClass]="iconClass"
></app-icon>
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="27.081"
  height="30.5"
  viewBox="0 0 27.081 30.5"
  class="position-relative custom-section"
>
  <g transform="translate(-41.5 -513.5)">
    <g>
      <g transform="translate(-14 157)">
        <g
          class="cls-2"
          transform="translate(60 361)"
          fill="none"
          stroke-width="1.5"
        >
          <rect width="18" height="22" stroke="none" />
          <rect x="0.75" y="0.75" width="16.5" height="20.5" fill="none" />
        </g>
      </g>
      <path
        class="cls-2"
        d="M0,0H27.081"
        transform="translate(41.5 529)"
        fill="none"
        stroke-width="1"
        stroke-dasharray="2 2"
      />
      <line
        class="cls-2"
        y2="30.5"
        transform="translate(55 513.5)"
        fill="none"
        stroke-width="1"
        stroke-dasharray="2 2"
      />
    </g>
    <line
      class="cls-2"
      y2="13"
      transform="translate(55.041 522.25)"
      fill="none"
      stroke-width="1"
    />
    <line
      class="cls-2"
      x1="10"
      transform="translate(50 529)"
      fill="none"
      stroke-width="1"
    />
  </g>
</svg>

<svg
  width="41"
  height="42"
  viewBox="0 0 36 52"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M1.09131 51.3555H35.0913L34.9798 27.8906L28.1798 11.3335L1.09131 1.35547V51.3555Z"
    stroke="#96A0B5"
  />
  <path
    d="M5.09131 47.3555H31.0913L31.0061 28.56L25.6149 14.9938L5.09131 7.35547V47.3555Z"
    stroke="#96A0B5"
  />
  <line
    y1="-0.5"
    x2="12"
    y2="-0.5"
    transform="matrix(-4.37114e-08 1 1 4.37114e-08 18.0913 24.3555)"
    stroke="#96A0B5"
  />
  <line
    y1="-0.5"
    x2="12"
    y2="-0.5"
    transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 24.0913 30.3555)"
    stroke="#96A0B5"
  />
</svg>
<!-- <app-icon
  [category]="'action'"
  [prefix]="'solid'"
  [name]="'arrow'"
  [rotate]="90"
  [flipHorizontal]="true"
  [svgClass]="{ 'icon-xl': true, 'rotate-animation': animate }"
  [svgStyle]="{ fill: 'blue', width: '20px', height: '20px' }"
  containerClass="icon-wrapper"
  [containerStyle]="{ marginRight: '4px' }"
/> -->

<!-- <svg
                        *ngIf="!arrowTowardsHandle && !viewHandleFromOutside"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="40"
                        height="50"
                        viewBox="0 0 40 50"
                      >
                        <g id="Group_14376" data-name="Group 14376" transform="translate(-180 -248)">
                          <g
                            id="Rectangle_4467"
                            data-name="Rectangle 4467"
                            transform="translate(180 248)"
                            fill="#fff"
                            stroke="#96a0b5"
                            stroke-linejoin="round"
                            stroke-width="1"
                          >
                            <rect width="40" height="50" stroke="none" />
                            <rect x="0.5" y="0.5" width="39" height="49" fill="none" />
                          </g>
                          <g
                            id="Path_20488"
                            data-name="Path 20488"
                            transform="translate(184 251.846)"
                            stroke-linejoin="round"
                            fill="none"
                          >
                            <path
                              d="M 31.49999618530273 41.80769729614258 L 0.5000052452087402 41.80769729614258 L 0.5000052452087402 0.4999967515468597 L 31.49999618530273 0.4999967515468597 L 31.49999618530273 41.80769729614258 Z"
                              stroke="none"
                            />
                            <path
                              d="M 0.9999942779541016 0.9999961853027344 L 0.9999942779541016 41.30769729614258 L 30.99998474121094 41.30769729614258 L 30.99998474121094 0.9999961853027344 L 0.9999942779541016 0.9999961853027344 M -5.7220458984375e-06 -3.814697265625e-06 L 31.99998474121094 -3.814697265625e-06 L 31.99998474121094 42.30769729614258 L -5.7220458984375e-06 42.30769729614258 L -5.7220458984375e-06 -3.814697265625e-06 Z"
                              stroke="none"
                              fill="#96a0b5"
                            />
                          </g>
                          <path
                            id="Path_20366"
                            data-name="Path 20366"
                            d="M117.059,253.8l29.506-19.64-30.177-19.925"
                            transform="translate(68.513 39.003)"
                            fill="none"
                            stroke="#96a0b5"
                            stroke-width="1"
                            stroke-dasharray="3 2"
                          />
                          <rect
                            id="Rectangle_4469"
                            data-name="Rectangle 4469"
                            width="4.04"
                            height="7.692"
                            transform="translate(180.96 269.154)"
                            fill="#96a0b5"
                          />
                          <rect
                            id="Rectangle_4488"
                            data-name="Rectangle 4488"
                            width="2"
                            height="8.654"
                            transform="translate(185 273)"
                            fill="#96a0b5"
                          />
                        </g>
                      </svg> -->

<!-- <svg
                        *ngIf="arrowTowardsHandle && !viewHandleFromOutside"
                        xmlns="http://www.w3.org/2000/svg"
                        width="40"
                        height="50"
                        viewBox="0 0 46 60"
                      >
                        <g id="Group_37598" data-name="Group 37598" transform="translate(-190 -432)">
                          <g
                            id="Rectangle_4467"
                            data-name="Rectangle 4467"
                            transform="translate(190 432)"
                            fill="#fff"
                            stroke="#96a0b5"
                            stroke-width="1"
                          >
                            <rect width="46" height="60" stroke="none" />
                            <rect x="0.5" y="0.5" width="45" height="59" fill="none" />
                          </g>
                          <g
                            id="Rectangle_4468"
                            data-name="Rectangle 4468"
                            transform="translate(195 437)"
                            fill="#fff"
                            stroke="#96a0b5"
                            stroke-width="1"
                          >
                            <rect width="36" height="50" stroke="none" />
                            <rect x="0.5" y="0.5" width="35" height="49" fill="none" />
                          </g>
                          <path
                            id="Path_20366"
                            data-name="Path 20366"
                            d="M147.042,260.085l-30.555-21.924,30.555-23.01"
                            transform="translate(81.146 224.032)"
                            fill="none"
                            stroke="#96a0b5"
                            stroke-width="1"
                            stroke-dasharray="3 2"
                          />
                          <rect
                            id="Rectangle_4469"
                            data-name="Rectangle 4469"
                            width="6"
                            height="10"
                            transform="translate(190 457)"
                            fill="#96a0b5"
                          />
                          <rect
                            id="Rectangle_9994"
                            data-name="Rectangle 9994"
                            width="3"
                            height="10"
                            transform="translate(195.9 462)"
                            fill="#96a0b5"
                          />
                        </g>
                      </svg> -->
<!-- 
<app-icon
  [category]="category.DESIGN"
  [prefix]="prefix.OPENABLE_DESIGNS"
  [name]="designIcons.RIGHT_OPENABLE_ARROW_AWAY_OUTSIDE"
></app-icon>

<app-icon
  [category]="category.DESIGN"
  [prefix]="prefix.OPENABLE_DESIGNS"
  [name]="designIcons.RIGHT_OPENABLE_ARROW_TOWARDS_OUTSIDE"
></app-icon> -->

<!-- <svg
  xmlns="http://www.w3.org/2000/svg"
  width="53"
  height="50"
  viewBox="0 0 53 60"
>
  <g
    id="Group_178893"
    data-name="Group 178893"
    transform="translate(-200 -776)"
  >
    <g
      id="Rectangle_4467"
      data-name="Rectangle 4467"
      transform="translate(200 776)"
      fill="#fff"
      stroke="#96a0b5"
      stroke-width="1"
    >
      <rect width="53" height="60" stroke="none" />
      <rect x="0.5" y="0.5" width="52" height="59" fill="none" />
    </g>
    <rect
      id="Rectangle_4469"
      data-name="Rectangle 4469"
      width="4"
      height="10"
      transform="translate(228.5 811) rotate(180)"
      fill="#96a0b5"
    />
    <line
      id="Line_1823"
      data-name="Line 1823"
      y1="59"
      transform="translate(226.5 776.5)"
      fill="none"
      stroke="#96a0b5"
      stroke-width="1"
    />
    <path
      id="Path_77903"
      data-name="Path 77903"
      d="M134.894,268.829l-24.457-28.664,24.457-28.528"
      transform="translate(116.832 565.871)"
      fill="none"
      stroke="#96a0b5"
      stroke-width="1"
      stroke-dasharray="3 2"
    />
    <path
      id="Path_77904"
      data-name="Path 77904"
      d="M110.437,268.829l24.457-28.664-24.457-28.528"
      transform="translate(90.718 565.871)"
      fill="none"
      stroke="#96a0b5"
      stroke-width="1"
      stroke-dasharray="3 2"
    />
    <rect
      id="Rectangle_73894"
      data-name="Rectangle 73894"
      width="3"
      height="10"
      transform="translate(227.5 805.762)"
      fill="#96a0b5"
    />
    <rect
      id="Rectangle_73895"
      data-name="Rectangle 73895"
      width="3"
      height="10"
      transform="translate(222.5 805.762)"
      fill="#96a0b5"
    />
  </g>
</svg>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="40"
  height="50"
  viewBox="0 0 46 60"
>
  <g
    id="Group_37587"
    data-name="Group 37587"
    transform="translate(-0.498 0.231)"
  >
    <g
      id="Group_14072"
      data-name="Group 14072"
      transform="translate(0.216 -0.498)"
    >
      <g
        id="Rectangle_4467"
        data-name="Rectangle 4467"
        transform="translate(0.282 0.267)"
        fill="#fff"
        stroke="#96a0b5"
        stroke-width="1"
      >
        <rect width="46" height="60" stroke="none" />
        <rect x="0.5" y="0.5" width="45" height="59" fill="none" />
      </g>
      <g
        id="Rectangle_4468"
        data-name="Rectangle 4468"
        transform="translate(5.282 5.267)"
        fill="#fff"
        stroke="#96a0b5"
        stroke-width="1"
      >
        <rect width="36" height="50" stroke="none" />
        <rect x="0.5" y="0.5" width="35" height="49" fill="none" />
      </g>
      <path
        id="Path_20366"
        data-name="Path 20366"
        d="M116.487,260.085l30.555-21.924-30.555-23.01"
        transform="translate(154.958 267.535) rotate(180)"
        fill="none"
        stroke="#96a0b5"
        stroke-width="1"
        stroke-dasharray="3 2"
      />
      <rect
        id="Rectangle_4469"
        data-name="Rectangle 4469"
        width="6"
        height="10"
        transform="translate(0.282 25.267)"
        fill="#96a0b5"
      />
      <rect
        id="Rectangle_9994"
        data-name="Rectangle 9994"
        width="3"
        height="10"
        transform="translate(6.18 30.267)"
        fill="#96a0b5"
      />
    </g>
  </g>
</svg> -->

<svg
  class="rotat"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="29"
  height="37"
  viewBox="0 0 29 35.966"
>
  <g
    id="Rectangle_2760"
    data-name="Rectangle 2760"
    stroke="#96a0b5"
    stroke-width="1.2"
    fill="none"
  >
    <rect width="12" height="35.966" stroke="none" />
    <rect x="0.6" y="0.6" width="10.8" height="34.766" fill="none" />
  </g>
  <g
    id="Rectangle_2761"
    data-name="Rectangle 2761"
    transform="translate(13)"
    stroke="#96a0b5"
    stroke-width="1.2"
    fill="none"
  >
    <rect width="16" height="13" stroke="none" />
    <rect x="0.6" y="0.6" width="14.8" height="11.8" fill="none" />
  </g>
  <g
    id="Rectangle_4475"
    data-name="Rectangle 4475"
    transform="translate(11)"
    fill="#e5ebf0"
    stroke="#96a0b5"
    stroke-width="1"
  >
    <rect width="4" height="13" stroke="none" />
    <rect x="0.5" y="0.5" width="3" height="12" fill="none" />
  </g>
</svg>

<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="37"
  height="29"
  viewBox="0 0 35.966 29"
>
  <g
    id="Rectangle_2760"
    data-name="Rectangle 2760"
    transform="translate(0 12) rotate(-90)"
    stroke="#96a0b5"
    stroke-width="1.2"
    fill="none"
  >
    <rect width="12" height="35.966" stroke="none" />
    <rect x="0.6" y="0.6" width="10.8" height="34.766" fill="none" />
  </g>
  <g
    id="Rectangle_2761"
    data-name="Rectangle 2761"
    transform="translate(22.966 29) rotate(-90)"
    stroke="#96a0b5"
    stroke-width="1.2"
    fill="none"
  >
    <rect width="16" height="13" stroke="none" />
    <rect x="0.6" y="0.6" width="14.8" height="11.8" fill="none" />
  </g>
  <g
    id="Rectangle_4475"
    data-name="Rectangle 4475"
    transform="translate(22.966 14.999) rotate(-90)"
    fill="#e5ebf0"
    stroke="#96a0b5"
    stroke-width="1"
  >
    <rect width="3.999" height="13" stroke="none" />
    <rect x="0.5" y="0.5" width="2.999" height="12" fill="none" />
  </g>
</svg>

....

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="40"
  height="50"
  viewBox="0 0 46 60"
>
  <g
    id="Group_37587"
    data-name="Group 37587"
    transform="translate(-0.498 0.231)"
  >
    <g
      id="Group_14072"
      data-name="Group 14072"
      transform="translate(0.216 -0.498)"
    >
      <g
        id="Rectangle_4467"
        data-name="Rectangle 4467"
        transform="translate(0.282 0.267)"
        fill="#fff"
        stroke="#96a0b5"
        stroke-width="1"
      >
        <rect width="46" height="60" stroke="none" />
        <rect x="0.5" y="0.5" width="45" height="59" fill="none" />
      </g>
      <g
        id="Rectangle_4468"
        data-name="Rectangle 4468"
        transform="translate(5.282 5.267)"
        fill="#fff"
        stroke="#96a0b5"
        stroke-width="1"
      >
        <rect width="36" height="50" stroke="none" />
        <rect x="0.5" y="0.5" width="35" height="49" fill="none" />
      </g>
      <path
        id="Path_20366"
        data-name="Path 20366"
        d="M116.487,260.085l30.555-21.924-30.555-23.01"
        transform="translate(154.958 267.535) rotate(180)"
        fill="none"
        stroke="#96a0b5"
        stroke-width="1"
        stroke-dasharray="3 2"
      />
      <rect
        id="Rectangle_4469"
        data-name="Rectangle 4469"
        width="6"
        height="10"
        transform="translate(40.282 25.267)"
        fill="#96a0b5"
      />
      <rect
        id="Rectangle_9994"
        data-name="Rectangle 9994"
        width="3"
        height="10"
        transform="translate(37.382 30.267)"
        fill="#96a0b5"
      />
    </g>
  </g>
</svg>

opp

<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="40"
  height="50"
  viewBox="0 0 40 50"
>
  <g id="Group_14376" data-name="Group 14376" transform="translate(-180 -248)">
    <g
      id="Rectangle_4467"
      data-name="Rectangle 4467"
      transform="translate(180 248)"
      fill="#fff"
      stroke="#96a0b5"
      stroke-linejoin="round"
      stroke-width="1"
    >
      <rect width="40" height="50" stroke="none" />
      <rect x="0.5" y="0.5" width="39" height="49" fill="none" />
    </g>
    <g
      id="Path_20488"
      data-name="Path 20488"
      transform="translate(184 251.846)"
      stroke-linejoin="round"
      fill="none"
    >
      <path
        d="M 31.49999618530273 41.80769729614258 L 0.5000052452087402 41.80769729614258 L 0.5000052452087402 0.4999967515468597 L 31.49999618530273 0.4999967515468597 L 31.49999618530273 41.80769729614258 Z"
        stroke="none"
      />
      <path
        d="M 0.9999942779541016 0.9999961853027344 L 0.9999942779541016 41.30769729614258 L 30.99998474121094 41.30769729614258 L 30.99998474121094 0.9999961853027344 L 0.9999942779541016 0.9999961853027344 M -5.7220458984375e-06 -3.814697265625e-06 L 31.99998474121094 -3.814697265625e-06 L 31.99998474121094 42.30769729614258 L -5.7220458984375e-06 42.30769729614258 L -5.7220458984375e-06 -3.814697265625e-06 Z"
        stroke="none"
        fill="#96a0b5"
      />
    </g>
    <path
      id="Path_20366"
      data-name="Path 20366"
      d="M117.059,253.8l29.506-19.64-30.177-19.925"
      transform="translate(68.513 39.003)"
      fill="none"
      stroke="#96a0b5"
      stroke-width="1"
      stroke-dasharray="3 2"
    />
    <rect
      id="Rectangle_4469"
      data-name="Rectangle 4469"
      width="4.04"
      height="7.692"
      transform="translate(180.96 269.154)"
      fill="#96a0b5"
    />
    <rect
      id="Rectangle_4488"
      data-name="Rectangle 4488"
      width="2"
      height="8.654"
      transform="translate(185 273)"
      fill="#96a0b5"
    />
  </g>
</svg>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  viewBox="0 0 24 24"
>
  <g transform="translate(-18.5 -367.5)">
    <g
      transform="translate(20 369)"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M21,0,0,6V21H21Z" stroke="none" />
      <path
        d="M 21 -1.9073486328125e-06 L -1.9073486328125e-06 5.999999046325684 L -1.9073486328125e-06 21 L 21 21 L 21 -1.9073486328125e-06 M 20.99990463256836 -1.50001335144043 C 21.32226181030273 -1.50001335144043 21.64003944396973 -1.396095275878906 21.90328979492188 -1.197521209716797 C 22.2790584564209 -0.9140815734863281 22.5 -0.4706916809082031 22.5 -1.9073486328125e-06 L 22.5 21 C 22.5 21.82842826843262 21.82842826843262 22.5 21 22.5 L -1.9073486328125e-06 22.5 C -0.82843017578125 22.5 -1.500001907348633 21.82842826843262 -1.500001907348633 21 L -1.500001907348633 5.999999046325684 C -1.500001907348633 5.330279350280762 -1.0560302734375 4.74169921875 -0.4120807647705078 4.557708740234375 L 20.58791923522949 -1.442291259765625 C 20.72343635559082 -1.481008529663086 20.86212158203125 -1.50001335144043 20.99990463256836 -1.50001335144043 Z"
        stroke="none"
        class="cls-1"
      />
    </g>
    <g
      transform="translate(21.131 370.669)"
      fill="none"
      stroke-linecap="square"
      stroke-linejoin="round"
    >
      <path d="M18.654,0,0,5.215V18.253H18.654Z" stroke="none" />
      <path
        d="M 17.15429878234863 1.976869583129883 L 1.499998092651367 6.353289604187012 L 1.499998092651367 16.7529239654541 L 17.15429878234863 16.7529239654541 L 17.15429878234863 1.976869583129883 M 18.65429878234863 3.814697265625e-06 L 18.65429878234863 18.2529239654541 L -1.9073486328125e-06 18.2529239654541 L -1.9073486328125e-06 5.215124130249023 L 18.65429878234863 3.814697265625e-06 Z"
        stroke="none"
        class="cls-1"
      />
    </g>
  </g>
</svg>

copy
<!-- <svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  viewBox="0 0 24 24"
>
  <g transform="translate(-18.5 -367.5)">
    <g
      transform="translate(20 369)"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M21,0,0,6V21H21Z" stroke="none" />
      <path
        d="M 21 -1.9073486328125e-06 L -1.9073486328125e-06 5.999999046325684 L -1.9073486328125e-06 21 L 21 21 L 21 -1.9073486328125e-06 M 20.99990463256836 -1.50001335144043 C 21.32226181030273 -1.50001335144043 21.64003944396973 -1.396095275878906 21.90328979492188 -1.197521209716797 C 22.2790584564209 -0.9140815734863281 22.5 -0.4706916809082031 22.5 -1.9073486328125e-06 L 22.5 21 C 22.5 21.82842826843262 21.82842826843262 22.5 21 22.5 L -1.9073486328125e-06 22.5 C -0.82843017578125 22.5 -1.500001907348633 21.82842826843262 -1.500001907348633 21 L -1.500001907348633 5.999999046325684 C -1.500001907348633 5.330279350280762 -1.0560302734375 4.74169921875 -0.4120807647705078 4.557708740234375 L 20.58791923522949 -1.442291259765625 C 20.72343635559082 -1.481008529663086 20.86212158203125 -1.50001335144043 20.99990463256836 -1.50001335144043 Z"
        stroke="none"
        class="cls-1"
      />
    </g>
    <g
      transform="translate(21.131 370.669)"
      fill="none"
      stroke-linecap="square"
      stroke-linejoin="round"
    >
      <path d="M18.654,0,0,5.215V18.253H18.654Z" stroke="none" />
      <path
        d="M 17.15429878234863 1.976869583129883 L 1.499998092651367 6.353289604187012 L 1.499998092651367 16.7529239654541 L 17.15429878234863 16.7529239654541 L 17.15429878234863 1.976869583129883 M 18.65429878234863 3.814697265625e-06 L 18.65429878234863 18.2529239654541 L -1.9073486328125e-06 18.2529239654541 L -1.9073486328125e-06 5.215124130249023 L 18.65429878234863 3.814697265625e-06 Z"
        stroke="none"
        class="cls-1"
      />
    </g>
  </g>
</svg> -->
